.sidebar {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 24, 0.932);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    position: fixed;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color:  rgb(255, 241, 211);
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
   background-color:  rgb(0, 174, 255);
   color: rgb(0, 0, 0);
   margin-left: 10%;

  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(255, 138, 42, 0);
    color: rgb(0, 9, 49);
    padding: 5px 5px;
    padding-bottom: 1%;
    height:10%;
    width:5%;
    border:none;
    position: fixed;
    z-index: 1;
  
  }
  
  
  .openbtn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0%;
    left: 0;
    background-color: rgb(0, 174, 255);
    }
  
    .openbtn:hover {
      color:white;
    
    }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/*-----------------------------------------------------------------------------------------*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
  background-image: url("https://cdn.pixabay.com/photo/2015/07/31/11/45/library-869061_1280.jpg");

  background-size: cover;
  height: 100vh;
  width:100vw;
  background-repeat: no-repeat;   
  font-size: 16px;
  display:flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center; 
}

 .frame{
 
     display:flex;
     flex:0 1 auto;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 60vh;
     /* padding:20px; */
     border-radius: 20px;
     width: 50%;
     line-height: 35px;
     background-color:rgba(3, 24, 41, 0.952);
     margin-top: 60px;
     margin-left:25%;
 }

 .frame button{
    
  padding:3px;
  margin: 20px 10px;
  width:100px;
  font-size: 20px;
  color: rgb(0, 174, 255);
  border:1px solid rgb(0, 174, 255); 
  border-radius: 8px;
  margin-left:100px;

}

form .button{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}


 .registration_form{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     width: 100vw;
 }

 .input_field{
   
    display: flex;
    flex-direction: column;
    align-content: center;
    
 }

 .input_field input
 {
     font-size: 20px;   
     display: block;
     margin-bottom: 10px;
 }

 .input_field label{
  display:block;
   font-size: 20px;
   font-weight: 600;
   font-family:'Times New Roman', Times, serif;
   color:rgb(255, 241, 211);
   
}

.h1{
    font-size: 50px;
    text-align: center;  
    color: rgb(255, 241, 211);
    display: inline;
}


button[disabled]{
     
  border: 1px solid;
  box-shadow: 2px 2px 12px rgba(161, 118, 23, 0.3);    
}

 #registration{
     width:180px;
     margin-left: 5px;  
 }